<section class="main content" id="upload">
    <h4>上传</h4>
    <div class="item">
        <label for="file" class="fileTag">进度：
            <i id="progress">0</i>
        </label>
        <input type="file" name="file" class="file" onchange="upload()" id="file" style="position:absolute;clip:rect(0 0 0 0);" tabindex='1'
        />
    </div>
</section>
<section class="main content" id="del">
    <h4>删除</h4>
    <div class="wrapper" id="del_wrapper">
        <% if(!!list) { %>
            <% for(let {title:titleVal,date:dateVal,tag:tagVal,path:pathVal} of list) {%>
                <% if(!!titleVal) { %>
                    <a href="javascript:;" onclick="javascript:del(this)" data-origin='<%= pathVal %>'>
                        <%= titleVal %>
                    </a>
                    <% } %>
                        <% }} else { %>
                            <a href="javascript:;">无可配置选项，或者刷新目录重试！</a>
                            <% } %>
    </div>
</section>

<script>
    function del(tag) {
        var wrapper = document.getElementById(del_wrapper)
        //wrapper.removeChild(tag)
        //console.log(tag.dataset.origin, tag)
        var origin = tag.dataset.origin
        _.push('/del', "origin=" + origin, function (res) {
            var code = parseInt(res)
            switch (code) {
                case 1:
                    alert('删除成功！');
                    location.reload();
                    break;
                default:
                    alert('操作异常！')
            }
        })
    }

    function upload() {
        var file = new FormData()
        file.append("file", document.getElementById('file').files[0])
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadStatus, false);
        xhr.addEventListener("error", uploadStatus, false);
        xhr.addEventListener("abort", uploadStatus, false);
        xhr.open("POST", "/center");
        xhr.send(file);
    }

    function uploadProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);
            document.getElementById('progress').innerHTML = percentComplete.toString() + '%';
        } else {
            document.getElementById('progress').innerHTML = 'unable to compute';
        }
    }

    function uploadStatus(evt) {
        switch (parseInt(evt.target.responseText)) {
            case 1:
                alert('上传成功！')
                break;
            default:
                alert('操作异常！')
        }
    }
</script>