<section class="main content">
    <article>
        <span class="title">
            <h2>写在套路云上的玩具</h2>
        </span>
        <div>
            <a href="/">0.首页</a>
        </div>
        <div>
            <a href="/archive">1.nodejs实现jekyll功能 md2html </a>
        </div>
        <div>
            <a href="/h5test">2.测试页面 repo内没有重定向 代码在隔壁</a>
        </div>
        <div>
            <a href="/login">3.登录 鉴权用户功能 key在interface配置 session写内存没有种redis 不考虑多核</a>
        </div>
        <div>
            <a href="/center">4.提供一个弱管理功能 上传/删除md文件及资源文件 监控webshell </a>
        </div>
    </article>
</section>