<div class="page hidden">
    <ul>
        <li class="disabled">
            <a>Prev</a>
        </li>
        <li class="active">
            <a href="?page=1">1</a>
        </li>
        <li>
            <a href="?page=2">2</a>
        </li>
        <li>
            <a href="javascript:void(0);">...</a>
        </li>
        <li>
            <a href="?page=30">30</a>
        </li>
        <li>
            <a href="?page=31">31</a>
        </li>
        <li>
            <a href="?page=32">32</a>
        </li>
        <li>
            <a href="?page=2">Next</a>
        </li>
    </ul>
</div>