<% include _header.ejs %>

    <div class="crteat-wrapper">
        <div class="item">
            <label for="crteat-title">标题：</label>
            <input type="text" class="crteat-title" id="create_title" name="crteat-title" placeholder='输入标题' maxlength="20" tabindex='1'
            />
        </div>
        <div class="item">
            <label for="create-type">类型：</label>
            <input type="text" class="create-type" id="create_type" name="create-type" placeholder='输入话题类型（没想到可以不填）' maxlength="20" tabindex='2'
            />
        </div>
        <div class="item">
            <label for="comment">内容：</label>
            <textarea name="comment" id="comment" cols="30" rows="10" tabindex='3'></textarea>
        </div>
        <div class="item">
            <label class="create-btn">&nbsp;</label>
            <input type="button" id="create_btn" class="create-btn" name="create-btn" value="发布" tabindex='4' />
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", main, false);

        function main() {
            // enter
            document.onkeydown = function (e) {
                var e = e || window.event;
                if (e.keyCode == 13) {
                    if (document.getElementById('create_title').value && document.getElementById('comment').value) {
                        create();
                    } else {
                        return false;
                    }
                }
            }
            document.getElementById('create_btn').addEventListener('click', function () {
                if (document.getElementById('create_title').value && document.getElementById('comment').value) {
                    create();
                } else {
                    return false;
                }
            })

            function create() {
                _.push('/create',
                    "title=" + document.getElementById('create_title').value +
                    "&content=" + document.getElementById('comment').value +
                    "&type=" + document.getElementById('create_type').value,
                    function (res) {
                        var res = JSON.parse(res);
                        if (res != null && res.code) {
                            var retVal = parseInt(res.code);
                            switch (retVal) {
                                case 2:
                                    alert('输入有误');
                                    break;
                                case 0:
                                    alert('发布失败');
                                    break;
                                case 1:
                                    alert('发布成功!');
                                    location.href = '/create'
                                    break;
                                case 10:
                                    alert('此帖已注册');
                                    break;
                            }
                        } else {
                            alert('操作失败');
                        }
                    })
            }
        }
    </script>

    <% include _footer.ejs %>