<section class="main content">
    <article>
        <span class="title">
            <h2>archive</h2>
        </span>
        <div class="post">
            <ul class="listing">
                <li class="listing-seperator">2017</li>
                <li class="listing-item">
                    <time datetime="2017-12-31">2017-12-31</time>
                    <a href="" title="2017">2017</a>
                </li>
            </ul>
        </div>
    </article>
</section>